body {
  font-family: "Liberation Sans", "Calibri", "Arial", sans-serif;
  max-width: 50em;
  margin: 0 auto;
  padding: 2em;
  line-height: 1.5;
}

code, pre {
  font-family: "DejaVu Sans Mono", "Consolas", monospace;
}
